<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>Tiêu đề</td>
            <td>Nội dung</td>
            <td>Email</td>

        </tr>
        <tr>
            <td>{{ title }}</td>
            <td>{{ email }}</td>
            <td>{{ content }}</td>
            <td>{{ cc }}</td>

            

        </tr>
    </table>
</body>
</html>